.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 28rem;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 100%;
}

.avatarPreview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarPlaceholder {
  display: block;
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  border: 1px solid #e72929;
  margin: 0.5rem 0 1rem 0;
}

.avatarPlaceholder img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.avatarInput {
  display: none;
}
