.container {
  display: flex;
  flex-wrap: wrap;
}

.container a {
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  padding: 7px 21px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid;
  display: inline-block;
  transition: all .3s ease
}

.container a:hover{
  color: #252525;
  background-color: #fff;
  border-color: #fff
}
