.header {
  background: white;
  padding: 0;
  border-bottom: 1px solid #e72929;
  height: 70px;
}

.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
}

.header nav .logo {
  font-weight: bold;
  padding: 1rem;
}

.header nav .logo a {
  color: #af1313;
  text-decoration: none;
}

.header nav .logo img {
  width: 70px;
  cursor: pointer;
  margin: 7px 0;
}

.header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header nav ul li a {
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  color: #af1313;
  font-weight: 500;
  font-size: 17px;
  transition: 0.1s;
}

.header nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #fac031;
  display: block;
  transition: 0.2s linear;
}

.header nav ul li a:hover::after {
  width: 100%;
}

.header nav ul li a:hover {
  background: #e72929;
  color: white;
  cursor: pointer;
}

.submenu_container {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1001;
  background-color: whitesmoke;
  display: none;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submenu_container:hover .submenu {
  display: block;
}

.submenu a {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s;
}

.submenu a:hover {
  background-color: #e72929;
  color: white;
}

.cart_count {
  background-color: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}
